/* setup */

body{
    background-color: black;
    color:white;
    margin:0px;
    padding:0px;

}

div{
    box-sizing:border-box;

}

img{
    width:100%;
    margin-left:auto;
    margin-right:auto;

}

/* typography */

div.largetext {
    font-size: 100px;
    line-height: 90px;
}

div.mediumtext{
    Font-size:24px;
    line-height:24px;

}

div.smalltext{
    font-size: 16px;
    line-height: 18px;

}

div.serif{
    font-family:'Times New Roman', Times, serif;

}

div.sans{
    font-family:Arial, Helvetica, sans-serif;
}

div.mono{
    font-family: 'Courier New', Courier, monospace;

}

div.textcentre{
    text-align: center;

}

div.textright{
    text-align: right;
}

/* colours */

div.text{
    color:blue;
}

div.textred{
    color:red;
}

div.bggrey{
    background-color:grey;
}

div.bgblue{
    background-color:blue;
}

div.bgwhite{
    background-color:white;
}

div.bgpink{
    background-color: rgb(162, 84, 88);
}

/* widths */

div.width100{
    width:100%;
}

div.width80{
width:80%;
}

div.width75{
    width:75%;
}

div.width66{
    width:66.666%;
}

div.width60{
    width:60%;
}

div.width50{
    width:50%;
}

div.width40{
    width:40%;
}

div.width33{
    width:33.333%;
}

div.width25{
    width:25%;
}

div.width20{
    width:20%;
}

/* design */

div.container{
    display:flex;
    flex-wrap:wrap;
}

div.page{
    height: 100vh;
    overflow: scroll;
}

div.headline{
    text-align: center;
}

div.box {
   width: calc(33.333% - 20px);
   margin: 10px;
   padding: 15px;
   border-radius: 40px 40px 0px 0px;

}

div.boxcontainer {
    padding: 10px;
}

/* padding */

div.padding1{
    padding-bottom: 50px;
    padding-top: 20px;
}

div.padding2{
    padding-bottom: 75px;
}

