/* setup */

body{
    background-color: black;
    color:white;
    margin:0px;
    padding:0px;

}

div{
    box-sizing:border-box;

}

img{
    width:100%;
    margin-left:auto;
    margin-right:auto;

}

/* typography */

@font-face{
    font-family:'exwayer';
    src:url('exwayer.woff');
}

@font-face{
    font-family:'whizkid';
    src:url('whizkid.woff')

}

@font-face{
    font-family:'3x5';
    src:url('3X5_____.woff')

}


div.largetext {
    font-size: 150px;
    line-height: 90px;
    font-family: 'exwayer';
}

div.mediumtext{
    Font-size:90px;
    line-height:30px;

}
div.medium2text{
    Font-size:100px;
    line-height:30px;
font-family: '3x5';
}

div.smalltext{
    font-size: 16px;
    line-height: 18px;

}

div.serif{
    font-family:'Times New Roman', Times, serif;
}

div.sans{
    font-family:Arial, Helvetica, sans-serif;
}

div.mono{
    font-family: 'Courier New', Courier, monospace;
}

div.textcentre{
    text-align: center;
}

div.textright{
    text-align: right;
}

/* colours */

div.text{
    color:blue;
}

div.textred{
    color:red;
}
div.textblack{
    color:black;
}

div.bggrey{
    background-color:grey;
}

div.bgblue{
    background-color:blue;
}

div.bgwhite{
    background-color:white;
}

div.bggreen{
    background-color: rgb(90, 134, 98);
}

div.bglightblue{
    background-color: rgb(105, 211, 194);
}

div.bgcoral{
    background-color: rgb(255, 80, 98);
}
div.bgorange{
    background-color: rgb(255, 105, 0);
}

div.bgyellow{
    background-color: rgb(255, 213, 0);
}

div.bgpurple{
    background-color: rgb(164, 132, 135);
}

div.bgcream{
    background-color: rgb(255, 238, 211);
}

div.bgdgreen{
    background-color: rgb(6, 72, 68);
}

div.bgred{
    background-color: rgb(211, 2, 39);
}
/* widths */

div.width100{
    width:100%;
}

div.width80{
width:80%;
}

div.width75{
    width:75%;
}

div.width66{
    width:66.666%;
}

div.width60{
    width:60%;
}

div.width50{
    width:50%;
}

div.width40{
    width:40%;
}

div.width33{
    width:33.333%;
}

div.width25{
    width:25%;
}

div.width20{
    width:20%;
}

/* design */

div.container{
    display:flex;
    flex-wrap:wrap;
}

div.page{
    height: 100vh;
    overflow: scroll;
}

div.headline{
    text-align: center;
}

div.box {
   width: calc(33.333% - 20px);
   margin: 10px;
   padding: 15px;
   border-radius: 40px 40px 0px 0px;

}

div.boxcontainer {
    padding: 10px;
}

/* padding */

div.padding1{
    padding-bottom: 50px;
    padding-top: 50px;
}

div.padding2{
    padding-bottom: 75px;
}

